.date-range-picker {
  position: relative;
  width: 260px;
}

.date-range-picker .input-calendar-icon {
  position: absolute;
  left: 37px;
  top: 7px;
  height: 21px;
}

.datepicker-range-sec {
  background-color: #fff;
  position: absolute;
  border-radius: 11px;
  box-shadow: 0px 3px 9px 0px #091e4233;
  z-index: 1200;
  top: 40px;
}

.date-inner-range-sec {
  display: flex;
  padding: 20px;
}

.date-inner-range-sec .text-field-sec {
  background-color: #f4f5f7;
}

.date-range-input-sec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}

.data-range-calendar-sec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.data-range-calendar-sec .month-sec .month-head-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 19px 0px;
}

.date-navigate-btn {
  border-width: 0px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.date-navigate-btn img {
  height: 12px;
}

.date-navigate-btn.prev {
  transform: rotate(180deg);
}

.date-month-txt {
  cursor: pointer;
  color: #344563;
  font-weight: 500;
  font-size: 15px;
}

.date-month-txt:hover {
  color: #0052cc;
}

.week-head-sec {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 9px;
}

.week-head-sec span {
  display: block;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  color: #6b778c;
}

.data-range-calendar-sec .month-sec .day-sec {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.data-range-calendar-sec .month-sec .day-sec .days-btn {
  padding: 10px;
  font-size: 14px;
  color: #172b4d;
  cursor: pointer;
  text-align: center;
}
.data-range-calendar-sec .month-sec .day-sec .days-btn:hover {
  outline: 1px solid #c7daf8;
  box-sizing: content-box;
}

.data-range-calendar-sec .month-sec .day-sec .days-btn.selected {
  background-color: #344563 !important;
  color: #fff;
  border-radius: 6px;
}

.data-range-calendar-sec .month-sec .day-sec .days-btn.ranges-selected {
  background-color: #deebff;
}

.apply-date-sec {
  justify-content: end;
  display: flex;
  border-top: 1px solid #f4f5f7;
  padding: 18px 20px;
  position: sticky;
  left: 0;
}

.apply-date-sec .cancel-date-btn {
  background-color: transparent;
  margin-right: 11px;
  color: #0747a6;
  outline: none;
  border-width: 0px;
}

.month-year-select-panel {
  max-height: 200px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #deebff;
  border-radius: 4px;
  width: 509px;
}

.year-day-select-section {
  text-align: center;
  border: 1px solid #deebff;
  border-radius: 5px;
}

.year-day-select-section .year-txt {
  font-size: 15px;
  color: #0052cc;
  display: block;
  border-bottom: 1px solid #deebff;
  padding: 6px 0px;
}

.month-panel-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 4px;
}

.month-panel-grid .month-btn {
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
  margin: 3px;
}

.month-panel-grid .month-btn:hover {
  background-color: #ebecf0;
  border-radius: 6px;
  color: #4c9aff;
}

.custom-date-sec {
  margin-left: 40px;
  width: 170px;
  border: 1px solid #f4f5f7;
}

.custom-date-sec .custom-type-btn {
  font-size: 14px;
  color: #0747a6;
  cursor: pointer;
  display: block;
  margin: 12px 12px 12px 25px;
}

.date-range-picker .input-field-sec {
  padding: 9px 9px 9px 23px;
  border: 1px solid #dfe1e6;
  border-radius: 4px;
  font-size: 13.4px;
  outline: none;
  display: block;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.custom-days-field {
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-days-field input {
  padding: 8px;
  border: 1px solid #dfe1e6;
  border-radius: 4px;
  font-size: 13.4px;
  outline: none;
  width: 30px;
  margin-right: 7px;
  text-align: center;
}

.custom-days-field span {
  font-size: 15px;
  color: #344563;
}

.date-range-picker-mobile {
  display: none;
}

@media (max-width: 390px) {
  .date-inner-range-sec {
    padding: 12px;
  }
}

@media (max-width: 360px) {
  .datepicker-range-sec {
    width: unset !important;
  }
}

@media (max-width: 480px) {
  .date-range-picker .input-field-sec {
    font-size: 12px;
  }
}

@media (max-width: 991px) {
  .custom-date-sec {
    margin-top: 16px;
    margin-left: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .custom-date-sec .custom-type-btn{
    margin: 7px;
  }

  .date-inner-range-sec {
    flex-direction: column;
  }

  .date-range-input-sec {
    grid-template-columns: repeat(1, 1fr);
  }

  .month-year-select-panel {
    grid-template-columns: repeat(1, 1fr);
  }

  .date-range-picker-mobile {
    display: block;
  }

  .date-range-picker-desktop {
    display: none;
  }

  .month-year-select-panel {
    width: 234px;
  }
}

@media (max-width: 576px) {
  .date-range-picker {
    width: 88%;
  }

  .datepicker-range-sec {
    width: 113%;
  }

  .date-range-panel {
    flex: 100%;
  }

  .month-year-select-panel {
    width: 94%;
  }

  .data-range-calendar-sec {
    grid-template-columns: 1fr;
  }

  .month-panel-grid{
    justify-content: unset;
  }
}
