@import "./globals.css";
@import "./date-range-picker.css";
@import "./input-field.css";

.nav-bar-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0px 1px 6px 0px #0000001a;
  padding: 11px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1300;
  background-color: #fff;
}

.nav-bar-section .nav-left-section {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.nav-bar-section .nav-right-section {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.nav-logo-sec .menu-btn {
  border-width: 0px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  height: 34px;
  margin-right: 9px;
}

.nav-menu-btn-sec.responsive-dropdown-sec {
  display: none;
}

.nav-menu-btn {
  height: 27px;
  display: none;
}

.nav-logo-sec .menu-btn:hover {
  background-color: #ebecf0;
}

.nav-menu-btn-sec .menu-btn-list {
  display: flex;
  list-style: none;
  margin: 0;
  align-items: center;
  padding-left: 26px;
}

.menu-btn-sec {
  margin-right: 10px;
}

.nav-top {
  top: 56px !important;
}

.menu-btn-sec a {
  font-weight: 500;
  color: #344563;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding: 7px;
  border-radius: 3px;
}

.create-btn {
  margin-left: 9px;
}

.menu-btn-sec a:hover {
  background-color: #ebecf0;
}

.menu-btn-sec a .dropdown-icon {
  background-image: url("../images/dropdown-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 9px;
  width: 9px;
  transform: rotate(90deg);
  margin-left: 5px;
}

.nav-right-menu-sec {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.dropdown-cancel-btn {
  top: 14px;
  position: absolute;
  right: 15px;
}

.dropdown-cancel-btn img {
  height: 19px;
}

.nav-right-menu-sec .menu-btn {
  border-width: 0px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  height: 34px;
  margin-right: 11px;
}

.nav-right-menu-sec .menu-btn:hover {
  background-color: #ebecf0;
}

.search-input-sec {
  display: flex;
  align-items: center;
  position: relative;
}

.search-input-sec .search-input {
  border-width: 0px;
  outline: none;
  border: 1px solid grey;
  padding: 8px 8px 8px 29px;
  border-radius: 5px;
  width: 74%;
}

.search-input-sec .search-input:hover {
  border-color: #0052cc;
}

.search-input-sec .search-icon {
  position: absolute;
  left: 8px;
  top: 9px;
  height: 14px;
}

.profile-btn-sec img {
  max-height: 28px;
  cursor: pointer;
}

.main-content-sec {
  margin-left: 65px;
  /* padding: 30px; */
  margin-top: 56px;
}

.side-bar-section {
  background-color: #ebecf0;
  padding: 16px;
  position: fixed;
  bottom: 0;
  top: 56px;
  padding-top: 20px;
  text-align: center;
  border-right: 1px solid #c0c0c1;
}

.side-bar-section .side-menu-btn-sec {
  margin-bottom: 17px;
  cursor: pointer;
}

.help-sidebar-icon {
  position: absolute;
  bottom: 13px;
  left: 19px;
  height: 23px;
  cursor: pointer;
}

.log-time-modal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
  width: 600px;
  background-color: #fff;
  border-radius: 8px;
  padding: 30px 40px;
  margin: auto;
  margin-top: 50px !important;
}

.modal-head {
  margin: 0;
  font-weight: 500;
  font-size: 26px;
}

.log-time-modal-btn {
  margin-left: 20px;
}

.modal-btn-sec {
  display: flex;
  justify-content: end;
}

.log-date-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 11px;
  padding: 26px;
}

.log-date-left-sec,
.log-date-right-sec {
  display: flex;
  align-items: center;
}

.log-date-right-sec .action-btn {
  border: 1px solid #c0c0c1;
  background-color: white;
  outline: none;
  cursor: pointer;
  padding: 7px;
  border-radius: 3px;
  margin-left: 20px;
  display: grid;
  place-items: center;
}

.log-date-right-sec .action-btn img {
  transform: rotate(90deg) scale(1.1);
}

.log-date-right-sec .date-selection-btn {
  border: 1px solid #ebecf0;
  background-color: white;
  outline: none;
  cursor: pointer;
  padding: 9.5px;
  border-radius: 3px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  min-width: 75px;
  justify-content: space-between;
  font-size: 14px;
  margin-right: 20px;
  color: #42526e;
}

.log-date-right-sec .date-selection-btn img {
  transform: rotate(90deg);
}

.profile-name {
  margin-left: 10px;
  font-size: 15px;
}

.table-section {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.table-container {
  overflow-x: auto;
}

.table-data-row:hover {
  background-color: #e9f2ff;
}

.table-section .table-head {
  border-top: 1px solid #ebecf0;
  border-bottom: 1px solid #ebecf0;
  border-right: 1px solid #ebecf0;
  padding: 8px;
  font-size: 13px;
  font-weight: 400;
  color: #6b778c;
  text-align: left;
  background-color: #fff;
}

.table-section .table-cell {
  border-top: 1px solid #ebecf0;
  border-bottom: 1px solid #ebecf0;
  border-right: 1px solid #ebecf0;
  padding: 12px 13px;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 400;
  color: #6b778c;
}
/* 
.table-section .table-cell:hover {
  background-color: #b3d4ff;
} */

.text-center-cell {
  text-align: center !important;
}

.issues-txt-sec {
  display: flex;
  align-items: center;
}

.issues-txt-sec img {
  margin-right: 9px;
}

.issues-txt-sec .txt-1 {
  font-size: 13px;
  margin-right: 10px;
  color: #6b778c;
  font-weight: 500;
}

.issues-txt-sec .txt-2 {
  font-size: 15px;
  font-weight: 400;
}

.log-table-txt {
  font-weight: 500 !important;
  color: #172b4d !important;
}

.total-table-txt {
  font-size: 14px;
  color: #172b4d;
  font-weight: 500;
}

.date-head-sec {
  text-align: center;
}

.date-head-sec .date-week-head {
  display: block;
  font-size: 10px;
  margin-bottom: 5px;
}

.date-head-sec .date-day-head {
  font-size: 14.5px;
  font-weight: 500;
}

.date-head-sec .date-day-head.current-selected-day {
  background-color: #deebff;
  border: 1px solid #4c9aff;
  display: block;
  padding: 1.5px 6px;
  width: fit-content;
  margin: auto;
  border-radius: 8px;
  color: #4c9aff;
}
.date-range-filter-sec {
  padding: 0px 26px;
  display: flex;
}

.group-by-sec {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.group-by-sec .group-by-txt {
  font-size: 14px;
  color: #6b778c;
}

.group-by-sec .group-btn {
  border: 1px solid #ebecf0;
  background-color: white;
  outline: none;
  cursor: pointer;
  padding: 9.5px;
  border-radius: 3px;
  margin-left: 14px;
  display: flex;
  align-items: center;
  width: 160px;
  justify-content: space-between;
  font-size: 14px;
  color: #42526e;
}

.group-by-sec .group-btn img {
  transform: rotate(90deg);
}

.input-navigate-btn {
  border: 1px solid #dfe1e6;
  background-color: white;
  outline: none;
  cursor: pointer;
  padding: 9.5px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.input-navigate-btn.prev {
  left: 0;
  transform: rotateY(180deg);
  bottom: 0.4px;
}

.input-navigate-btn.next {
  right: -34px;
}

@media (max-width: 1200px) {
  .nav-bar-section {
    grid-template-columns: repeat(1, 1fr);
  }

  .nav-bar-section .nav-left-section {
    grid-template-columns: auto 2fr;
  }

  .nav-bar-section .nav-right-section {
    margin-top: 21px;
  }

  .nav-menu-btn-sec .menu-btn-list {
    justify-content: end;
  }

  .main-content-sec {
    margin-top: 111px;
  }

  .side-bar-section {
    top: 110px;
  }
}

@media (max-width: 768px) {
  .log-time-modal {
    width: 82%;
  }

  .nav-menu-btn-sec {
    display: none;
  }

  .nav-bar-section {
    grid-template-columns: 1fr 2fr;
  }

  .nav-bar-section .nav-right-section {
    margin-top: 0px;
  }

  .main-content-sec {
    margin-top: 55px;
  }

  .side-bar-section {
    top: 53px;
  }

  .date-range-filter-sec {
    flex-direction: column;
  }

  .group-by-sec {
    margin-left: 0px;
    margin-top: 21px;
  }

  .nav-menu-btn-sec.responsive-dropdown-sec {
    position: absolute;
    background-color: #fff;
    left: 0;
    right: 0;
    z-index: 1200;
    box-shadow: 0px 1px 6px -1px #0000001a;
    padding: 21px 0px;
    display: block;
  }

  .nav-menu-btn-sec.responsive-dropdown-sec .menu-btn-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-btn-sec {
    margin-bottom: 8px;
  }

  .create-btn {
    margin-top: 17px;
    margin-left: 0px;
  }
  /* 
  .datepicker-range-sec {
    width: 160%;
  } */

  .nav-menu-btn {
    display: inline-block;
    margin-right: 8px;
  }
  .nav-logo-sec .menu-btn {
    display: none;
  }
}

@media (max-width: 576px) {
  .log-time-modal {
    width: 70%;
    padding: 30px 23px;
  }

  .log-date-sec {
    padding: 20px;
  }

  .date-range-filter-sec {
    padding: 0px 20px;
  }

  .side-bar-section {
    padding: 20px 10px;
  }

  .main-content-sec {
    margin-left: 53px;
  }

  .search-input-sec {
    display: none;
  }

  .nav-right-menu-sec {
    justify-content: end;
  }

  .log-date-sec {
    flex-direction: column;
    align-items: unset;
  }

  .log-date-right-sec {
    margin-top: 20px;
  }

  .log-date-right-sec button {
    margin-left: 0px !important;
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .backdrop.nav-top {
    display: none !important;
  }
}
